<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<!--1. 配置springMvc 自动扫描的包 -->
	<!-- 组件扫描 扫描所有标记@Controller类，由于使用自动扫描所以action类不用在spring配置文件中配置 -->
	<context:component-scan base-package="yycg.**.action" />
	
	<!-- 对静态资源不拦截 ,防止js等文件引入失败-->
	<mvc:default-servlet-handler />
	
	<!-- 注解驱动 -->
	<mvc:annotation-driven conversion-service="conversionService">
	</mvc:annotation-driven>

	<!-- 自定义注册属性编辑器 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="yycg.base.converters.StringTrimConverter" />
				<bean class="yycg.base.converters.DateConverter" />
				<bean class="yycg.base.converters.DatetimeConverter" />
			</list>
		</property>
	</bean>

	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- Http messageConverters，用于将对象转换为json输出到客户端-->
	<bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	</bean>
	<!-- 统一异常处理类 将异常消息转换为json-->
	<bean id="handlerExceptionResolver" class="yycg.base.process.exception.ExceptionResolverCustom">
		<!-- 注入一个json转换器 -->
		<property name="jsonMessageConverter" ref="jsonMessageConverter" />
	</bean>
	
	<!-- 配置国际化资源文件 -->
	<bean id="messageSource" 
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n"></property>
	</bean>
	
	<!-- 配置 文件上传  -->
	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<property name="defaultEncoding" value="UTF-8"></property>
			<property name="maxUploadSize" value="10485760"></property>
	</bean>	
	
	<!-- 拦截器 -->
	<!-- <mvc:interceptors> -->
		<!-- 多个拦截器,顺序执行 -->
		<!-- 用户身份校验的拦截器 -->
	<!-- 	<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="yycg.base.filter.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>
